html,body {
    position:absolute;
    width:100%;
    height:100%;
    margin:auto;
}

#layout {
    width:100%;
    height:100%;
}



#form-login{
    position:absolute;
    margin:auto;
    margin-top:15%;
    margin-left: 35%;
    display:none;
    height: 400px;
    width: 500px;
}


.form-spacer {
    height: 50px;

}

.w2ui-form {
    border: none;
}

div.header{
    background-color: #ffffff;
    width: 100%;
    height: 100%
}

.logo-container{
    width: 200px;
    height: 70px;
    margin-left: 50px;
    padding-top: 10px;
}

#font-logo {
font-family: 'Fugaz One', cursive;
font-size: 63px;
position: absolute;
color:#7FEFBD;
}

#bike {
    /*color:#004F3F;*/
    /*color: #7FEFBD;*/
    color: #1D191D;
}

.profile-circle-photo {
    position: absolute;
    right: 170px;
    top: 25px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 1px solid #ADADAD;
    background-size: contain;
    background-image: url(http://res.cloudinary.com/sdlc-consulting-inc/image/upload/v1481396362/picture-icon_uvdswy.png);
}

.login-button {
    position: absolute;
    top: 20px;
    right: 50px;
    /*button style goes here*/
    background-color: white;
    /*border: black solid 3px;*/
    border: none;
    /*color: black;*/
    color: #468368;
    padding: 15px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    outline: none;

}

#dashboard-button {
    position: absolute;
    top: 20px;
    right: 220px;
    /*button style goes here*/
    background-color: white;
    /*border: black solid 3px;
    color: black;*/
    /*border: solid 3px #468368;*/
    border: none;
    color: #468368;
    padding: 15px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    outline: none;

}

/*main landing page content styles*/
.background-image-container {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    background-color: black;

}
.background-image {
    height: 100%;
    width: 100%;
    background-clip: padding-box;
    background-position: center;
    background-size: 100%;

    background-repeat: no-repeat;
    background-image: url(http://res.cloudinary.com/sdlc-consulting-inc/image/upload/v1481398072/bicycle_lqfnul.jpg);
}

/*main content landing page tagline goes here*/

.main-tagline-container {
    width: 100%;
    height: 100%;
    padding-top: 330px;
    text-align: center;

}

#white-line {
    width: 260px;
    height: 10px;
    background-color:#7FEFBD;
    margin: auto;
    margin-top: 20px;
}

#main-tagline-text {
    font-size: 50px;
    color: #FAFAFA;
    /*font-family: 'Open Sans', sans-serif;*/
    text-align: center;
    font-family: 'Fugaz One', cursive;
    text-shadow: 1px 1px 3px black;
}

#header-text.placeholder {
/*font-family: 'Fugaz One', cursive;*/
font-family: 'Open Sans', sans-serif;
/*text-transform: uppercase;*/
font-size: 30px;
color: #468368;
}

.team-text {
  padding-top: 10px;
  position: absolute;
  text-align: center;
  width: 200px;
  margin: auto;
  margin-left: 10px;
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
  color: #468368;
  margin-top: -109px;
  
}

/*form styles go here*/
.w2ui-form-box {
/*background-color: #41A07D;*/
background-color: #7FEFBD;
}

.w2ui-form {
    border-radius: 0px;
    margin-right: 70px;
}

.w2ui-field > div {
    margin-left: 90px;

}




/*form button styles go here*/


/*footer styles */

.footer-container {
    width: 100%;
    height: 100%;
    /*background-color: black;*/
    background-color: #468368;
 
    
}

.footer-content {
    /*color: #FAFAFA;*/
    /*color:#1D191D;*/
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    padding-top: 15px;
    font-weight: bold;
}

#form-signup{
    position:absolute;
    width:500px;
    margin:auto;
    left:35%;
    margin-top:5%;
    display:none;
    height: 500px;
}


#image-upload{
    border-radius: 50%;
    height:120px;
    width:120px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:5px;
    border:1px solid lightgrey;
    background-image:url(http://res.cloudinary.com/sdlc-consulting-inc/image/upload/v1481396362/picture-icon_uvdswy.png);
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
    margin-bottom: 20px;
    margin-top: 20px;
}


button.w2ui-btn {
    width: 200px;
    height: 50px;
    margin: auto;
    border: none;
    border-radius: 0px;
    outline: none;
    font-size: 19px;
    padding-left: 15px;
    background-image: none;
    /*background-color: #004F3F;*/
    background-color: #468368;
    color: white;
    box-shadow: none;
}

button.w2ui-btn:hover {
    width: 200px;
    height: 50px;
    margin: auto;
    border: none;
    border-radius: 0px;
    outline: none;
    font-size: 19px;
    padding-left: 15px;
    background-image: none;
    background-color: #0A3530;
    color: white;
    box-shadow: none;
}

.w2ui-buttons {
    box-shadow: none;
}

/*dashboard styles go here*/

/*flexbox*/

.dashboard-main-container {
width: 100%;
/*background-color: pink;*/
margin: auto;
/*background-color:  #41A07D;*/
background-color: #7FEFBD;
}

#form-dashboard {
    height: 100%;
}


.main-profile-photo {
    height: 230px;
    width: 230px;
    border-radius: 50%;
    border: 3px solid white;
    /*margin: auto;*/
    /*margin-bottom: 10px;*/
    /*position: absolute;*/
    top: 0px;
    z-index: 1;
    right: 10px;

}

.placeholder {
    height: 90px;

}

#header-text {
    font-family: sans-serif;
    color: #468368;
    text-align: left;
    padding-top: 40px;
    padding-left: 100px;
    font-size: 25px;
    

}

.leader-name {
  font-family: sans-serif;
  font-size: 25px;
  padding-top: 240px;
  text-align: center;

}



#new-trip-button {
    position: absolute;
    top: 270px;
    right: 25px;


}

#save-trip-button {
    position: absolute;
    top: 290px;
    right: 25px;
    display:none;

}

#join-trip-button {
    position: absolute;
    top: 330px;
    right: 25px;

}




.team-members-container {
  width: 100%;
  height: 270px;
  background-color:white;
  overflow-x: scroll;
  overflow-y: hidden;
  margin-top: 50px;
}


.flex-container {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
}

.flex-item {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color:#0A3530;
  min-width: 150px;
  margin: 15px;
  background-image: url(/images/profile_1.png);
  background-size: contain;
}

.photo-one {
 background-image: url(/images/profile_1.png);
 background-size: contain;   
}

.photo-two {
  background-image: url(/images/profile_2.png);
  background-size: contain;
}

.photo-three {
  background-image: url(/images/profile_3.png);
  background-size: contain;
}

.photo-four {
  background-image: url(/images/profile_4.png);
  background-size: contain;
}

.photo-five {
  background-image: url(/images/profile_5.png);
  background-size: contain;
}

.photo-six {
  background-image: url(/images/profile_6.png);
  background-size: contain;
}


.photo-seven {
  background-image: url(/images/profile_7.png);
  background-size: contain;
}


.photo-eight {
  background-image: url(/images/profile_8.png);
  background-size: contain;
}

.photo-eight {
  background-image: url(/images/profile_8.png);
  background-size: contain;
}

.photo-nine {
  background-image: url(/images/profile_9.png);
  background-size: contain;
}

.photo-ten {
  background-image: url(/images/profile_10.png);
  background-size: contain;
}

.photo-eleven {
  background-image: url(/images/profile_11.png);
  background-size: contain;
}

.photo-twelve {
  background-image: url(/images/profile_12.png);
  background-size: contain;
}




.member-name {
  padding-top: 135px;
  text-align: center;
  font-family: sans-serif;
}



.map {
  width: 100%;
  height: 400px;
}




/*.w2ui-panel-content {
    background-color: white;
}*/

/*.dashboard-main-container {
    background-color: white;
}*/

element.style {
    background-color: #7FEFBD;
}

.trip-list {
    width: 100%;
    height: 521px;
    background-color: yellow;

}


