html,body {
    position:absolute;
    width:100%;
    height:100%;
    margin:auto;
}

#layout {
    width:100%;
    height:100%;
}

.w2ui-panel-content{
    /*border: 1px solid #dfdfdf;*/
/*    padding: 5px;*/
}

#form-login{
    position:absolute;
    margin:auto;
    margin-top:15%;
    margin-left: 35%;
    display:none;
    height: 400px;
    width: 500px;
}


.form-spacer {
    height: 50px;

}

.w2ui-form {
    border: none;
}

div.header{
    background-color: #ffffff;
    width: 100%;
    height: 100%
}

.logo-container{
    width: 200px;
    height: 70px;
    margin-left: 50px;
    padding-top: 10px;
}

#font-logo {
font-family: 'Fugaz One', cursive;
font-size: 60px;
position: absolute;
}

.profile-circle-photo {
    position: absolute;
    right: 200px;
    top: 25px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 1px solid #ADADAD;
    background-size: contain;
    background-image: url(http://res.cloudinary.com/sdlc-consulting-inc/image/upload/v1481396362/picture-icon_uvdswy.png);
}

.login-button {
    position: absolute;
    top: 20px;
    right: 50px;
    /*button style goes here*/
    background-color: white;
    border: black solid 3px;
    color: black;
    padding: 15px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    outline: none;

}

#dashboard-button {
    position: absolute;
    top: 20px;
    right: 270px;
    /*button style goes here*/
    background-color: white;
    border: black solid 3px;
    color: black;
    padding: 15px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    outline: none;

}

/*main landing page content styles*/
.background-image-container {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    background-color: black;

}
.background-image {
    height: 100%;
    width: 100%;
    background-clip: padding-box;
    background-position: center;
    background-size: 100%;

    background-repeat: no-repeat;
    background-image: url(http://res.cloudinary.com/sdlc-consulting-inc/image/upload/v1481398072/bicycle_lqfnul.jpg);
}

/*main content landing page tagline goes here*/

.main-tagline-container {
    width: 100%;
    height: 100%;
    padding-top: 320px;
    text-align: center;

}

#main-tagline-text {
    font-size: 50px;
    color: #FAFAFA;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

/*form styles go here*/
.w2ui-form-box {
background-color: #41A07D;
}

.w2ui-form {
    border-radius: 0px;
    margin-right: 70px;
}

.w2ui-field > div {
    margin-left: 90px;

}




/*form button styles go here*/


/*footer styles */

.footer-container {
    width: 100%;
    height: 100%;
    background-color: black;
}

.footer-content {
    color: #FAFAFA;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    padding-top: 15px;
}

#form-signup{
    position:absolute;
    width:500px;
    margin:auto;
    left:35%;
    margin-top:5%;
    display:none;
    height: 500px;
}


#image-upload{
    border-radius: 50%;
    height:120px;
    width:120px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:5px;
    border:1px solid lightgrey;
    background-image:url(http://res.cloudinary.com/sdlc-consulting-inc/image/upload/v1481396362/picture-icon_uvdswy.png);
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
    margin-bottom: 20px;
    margin-top: 20px;
}


button.w2ui-btn {
    width: 200px;
    height: 50px;
    margin: auto;
    border: none;
    border-radius: 0px;
    outline: none;
    font-size: 19px;
    padding-left: 15px;
    background-image: none;
    background-color: #004F3F;
    color: white;
    box-shadow: none;
}

button.w2ui-btn:hover {
    width: 200px;
    height: 50px;
    margin: auto;
    border: none;
    border-radius: 0px;
    outline: none;
    font-size: 19px;
    padding-left: 15px;
    background-image: none;
    background-color: #0A3530;
    color: white;
    box-shadow: none;
}

.w2ui-buttons {
    box-shadow: none;
}

/*dashboard styles go here*/

.dashboard-main-container {
width: 600px;
height: 500px;
background-color: pink;
}


.main-profile-photo {
    height: 100px;
    width: 100px;
    background-color: yellow;

}




