html,body {
    position:absolute;
    width:100%;
    height:100%;
    margin:auto;
}

#layout {
    width:100%;
    height:100%;
}

.w2ui-panel-content{
    /*border: 1px solid #dfdfdf;*/
/*    padding: 5px;*/
}

#form-login{
    position:absolute;
    width:400px;
    margin:auto;
    margin-top:15%;
    margin-left: 35%;
    display:none;
    height: 400px;
    width: 500px;
}


.form-spacer {
    height: 50px;

}

.w2ui-form {
    border: none;
}

div.header{
    background-color: #ffffff;
    width: 100%;
    height: 100%
}

.logo-container{
    width: 200px;
    height: 70px;
    margin-left: 50px;
    padding-top: 10px;
}

#font-logo {
font-family: 'Fugaz One', cursive;
font-size: 60px;
position: absolute;
}

.profile-circle-photo {
    position: absolute;
    right: 200px;
    top: 25px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 1px solid #ADADAD;
    background-size: contain;
    background-image: url(http://res.cloudinary.com/sdlc-consulting-inc/image/upload/v1481396362/picture-icon_uvdswy.png);
}

.login-button {
    position: absolute;
    top: 20px;
    right: 50px;
    /*button style goes here*/
    background-color: white;
    border: black solid 3px;
    color: black;
    padding: 15px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    outline: none;

}

/*main landing page content styles*/
.background-image-container {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    background-color: black;

}
.background-image {
    height: 100%;
    width: 100%;
    background-clip: padding-box;
    background-position: center;
    background-size: 100%;

    background-repeat: no-repeat;
    background-image: url(http://res.cloudinary.com/sdlc-consulting-inc/image/upload/v1481398072/bicycle_lqfnul.jpg);
}

/*main content landing page tagline goes here*/

.main-tagline-container {
    width: 100%;
    height: 100%;
    padding-top: 320px;
    text-align: center;

}

#main-tagline-text {
    font-size: 50px;
    color: #FAFAFA;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

/*form styles go here*/
.w2ui-form-box {
background-color: #41A07D;
}

/*form button styles go here*/


/*footer styles */

.footer-container {
    width: 100%;
    height: 100%;
    background-color: black;
}

.footer-content {
    color: #FAFAFA;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    padding-top: 15px;
}


